@use "../../../styles/variables" as *;

.dialog {
    @include hideScrollbar;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: transparent;
    border: none;

    &::backdrop {
        background-color: rgba($black, .8);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    button {
        @include focus;
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 50px;
        aspect-ratio: 1/1;
        background-color: $yellow;
        border-radius: 50px;
        border: $border-basic;

        &:before {
            @include arrow;
            background-image: url("/img/icons/close.svg");
        }

        &:focus {
            outline: 2px solid $white;
        }
    }
}