@import "../../styles/variables/variables";

.nav {
    ul {
        display: flex;
        align-items: center;
        gap: 50px;

        li {
            list-style: none;

            a {
                @include f18;
                display: block;
                font-weight: bold;
                text-decoration: none;
                color: $black;
            }

            .active {
                background-color: $primaire;
                color: $white;
                padding: 5px 15px;
                border-radius: 50px;
            }
        }
    }
}

@media (max-width: 768px) { 
    .nav {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $white;

        ul {
            flex-direction: column;
            margin-top: calc(52px + 30px + 100px); // Height header + padding body + 100px

            li {
                a {
                    @include f34;
                }

                .active {
                    padding: 15px 30px;
                }
            }
        }
    }
}