@use "../../styles/variables" as *;

.main {
    @include flex(column, 50px);
    @include maxWidthBasic;
    margin-top: $margin-top;

    h1 {
        @include f50;
    }

    .meImg {
        @include imgBorder;
        height: 353px;
        width: 100%;
        order: -1;
    }

    .tags {
        @include flex(row, 10px);
        margin-top: calc(-50px + 10px);

        li {
            @include tag;
        }
    }
}

.content {
    @include flex(column, 20px);
    border: $border-basic;
    border-radius: 20px;
    background-color: $white;
    padding: 20px;

    h2 {
        padding-bottom: 20px;
        border-bottom: $border-basic;
    }
}

.socialMedia {
    @include flex(column, 10px);
}

.faq {
    @include flex(column, 30px);
    
    details {
        padding: 20px 30px;
        background-color: $secundaire;
        border: $border-basic;
        border-radius: 20px;

        &[open] summary:after {
            transform: rotate(45deg) translateY(-50%);
            right: 17px;
            top: calc(50% + -2px);
        }

        &:nth-of-type(2) {
            background-color: rgba($pink, .25);
            
            summary {
                color: $black;
            }
        }

        &:nth-of-type(3) {
            background-color: $primaire;
        }

        summary {
            position: relative;
            @include f24;
            list-style: none;
            font-weight: bold;
            color: $white;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                background-color: $yellow;
                border-radius: 50px;
                border: $border-basic;
            }

            &:after {
                @include arrow;
                background-image: url("/img/icons/plus.svg");
                right: calc(9px);
                top: calc(50% + 1px);
                transition: $trans-basic;
            }
        }
    }

    .tags {
        margin-top: calc(20px);
        flex-wrap: wrap;

        li {
            @include tag;
            background-color: $pink;
            border: $border-basic;
        }
    }
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) { 
    .main {
        @include grid-col(1fr 1fr 1fr 1fr, 20px);
        padding: 20px;

        h1 {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        .tags {
            grid-column: 1/3;
            grid-row: 2/3;
            margin-top: 0px;
        }

        .meImg {
            grid-column: 1/3;
            grid-row: 3/4;

        }

        .content {
            grid-column: 1/3;
            grid-row: 4/5;
        }

        .socialMedia {
            grid-column: 1/2;
            grid-row: 5/6;
        }
    }
}