@use "../../../styles/variables/variables" as *;

.header {
    @include maxWidthBasic;
    position: fixed;
    top: 30px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: $white;
    border: $border-basic;
    border-radius: 0px 20px 0px 20px;
    z-index: 1;

    .logo {
        @include f18;
        @include focus;
        text-decoration: none;
        color: $black;
        font-weight: bold;
        @include xiaoBA;
    }

    a {
        transition: $trans-basic;
    };

    a:hover {
        color: $pink;
    }
}

// Bron: https://codepen.io/xiao-nan-pols/pen/BawyVKz
.hamburger {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;

    &:has(input:checked) {
        span {
            &:nth-of-type(1) {
                transform:rotate(45deg);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:nth-of-type(3) {
                transform:rotate(-45deg);
            }
        }
    }

    input {
        @include hideInput;
    }


    span {
        position:absolute;
        top: 50%;
        left: 15%;
        display:block;
        width: 70%;
        height: 2px;
        background-color: $black;
        transition: $trans-basic;

        &:nth-of-type(1) {
            transform:translatey(-6px);
        }

        &:nth-of-type(3) {
            transform:translatey(6px);
        }
    }
}

.navMobile {
    display: none;
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) { 
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) { 
    .navList {
        display: none;
    }
}