@use "../../../styles/variables" as *;

.header {
    @include maxWidthBasic;
    position: fixed;
    top: 30px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    background-color: $white;
    border: $border-basic;
    border-radius: 0px 20px 0px 20px;
    z-index: 2;

    .logo {
        @include f18;
        @include focus;
        color: $black;
        font-weight: bold;
        @include xiaoBA;
    }

    a {
        transition: $trans-basic;
    };

    a:hover {
        color: $pink;
    }
}



.navMobile {
    display: none;
}

/***************************** Breakpoints *****************************/

@media (max-width: 768px) { 
    .navList {
        display: none;
    }
}