@use "../../../styles/variables" as *;

.socialMeidaBtn {
    @include focus;
    position: relative;
    display: block;
    background-color: $pink;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: $border-basic;

    img {
        @include centerTransform;
    }
}