@use "../../../styles/variables" as *;

.main {
    @include flex(column, 50px);
    @include maxWidthBasic;
    margin-top: $margin-top;

    a {
        @include arrowBtn;
        background-color: $primaire;
    }
}

.tags {
    @include flex(row, 5px);
    margin-top: calc(-50px + 10px);
    
    li {
        @include tag;
    }
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) {
    .main {
        @include grid-col(1fr 1fr, 40px 50px);
        padding: 20px;

        .tags, a {
            grid-column: 1/2;
        }
    }
}