@use "../../../styles/variables" as *;

.main {
    @include flex(column, 50px);
    @include maxWidthBasic;
    margin-top: $margin-top;

    a {
        @include arrowBtn;
        background-color: $primaire;
    }
}

.tags {
    margin-top: calc(-50px + 10px);
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) {
    .main {
        @include grid-col(1fr 1fr, 40px 50px);
        padding: 20px;
    }

    .tags, .main a {
        grid-column: 1/2;
    }

    .tags {
        margin-top: calc(-50px + 20px);
    }

}
