@use "./variables" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} 

body {
	font-family: $font-stack;
	background-color: $pink-10;
	padding: 30px 20px;
	color: $black;

	&:has(.hamburger input:checked) {
		.mobile-menu {
			display: block;

			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	    &:has([value="design"]:checked) {
        .front-end {
            display: none;
        }
    }
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	@include f18;
}

img {
	object-fit: cover;
}

/***************************** Classes *****************************/

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

// Swiper
.swiper {
	margin-top: calc(-60px - 50px / 2 + 10px);
}
.swiper-wrapper {
	padding: 50px 0px 0px 0px;
	margin: 50px 0px;
}
.swiper-slide {
	max-width: 360px;
}

.swiper-button-prev, .swiper-button-next {
	top: 50px !important;
	width: 50px !important;
	height: 50px !important;
	background-color: $yellow;
	border-radius: 50px;
	border: $border-basic;
	transition: $trans-basic;

	&:before {
		@include arrow;
		transition: $trans-basic;
    }

	&:hover {
		background-color: $pink;
	}

	&:hover::before {
		filter: invert(1) brightness(3);
	}
	

	svg {
		display: none;
	}
}

.swiper-button-next {
	right: 20px !important;
}

.swiper-button-prev {
	left: calc(100% - 150px) !important;

	&:before {
		transform: translateY(-50%) rotate(180deg);
	}
}


/***************************** Breakpoints *****************************/

@media (min-width: 768px) {
    body {
		padding: 0px;
	}

	p {
		@include f16;
	}

	.swiper {
		padding-right: 50px !important;
	}
}

@media (min-width: 1300px) {
	.swiper-button-next {
		right: 100px !important;
	}

	.swiper-button-prev {
		left: calc(100% - 220px) !important;
	}
}

@media (min-width: 1500px) {
	.swiper-button-next {
		right: 200px !important;
	}

	.swiper-button-prev {
		left: calc(100% - 320px) !important;
	}
}

@media (min-width: 1900px) {
	.swiper-button-next {
		right: 300px !important;
	}

	.swiper-button-prev {
		left: calc(100% - 420px) !important;
	}
}