

/***************************** Colors *****************************/

$primaire: #724D90;
$secundaire: #1DA0F2;

$pink: #E54E6D;
$pink-10: #FBE4E9;

$yellow: #F8C631;

$black: #22162A;
$white: #fff;

/***************************** Component lines *****************************/

$trans-basic: .4s;
$border-basic: 1px solid $black;

/***************************** Font *****************************/

$font-stack: 'Ubuntu', sans-serif;

@mixin f14 {
    font-size: 0.875rem;
    line-height: 1.438rem;
}

@mixin f16 {
    font-size: 1rem;
    line-height: 1.75rem;
}

@mixin f18 {
    font-size: 1.125rem;
    line-height: 1.875rem;
}

@mixin f26 {
    font-size: 1.625rem;
    line-height: 1.938rem;
}

@mixin f34 {
    font-size: 2.125rem;
    line-height: 2.313rem;
}

@mixin f50 {
    font-size: 3.125rem;
    line-height: 3.75rem;
}

/***************************** Buttons *****************************/

@mixin arrow {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-image: url("/img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    aspect-ratio: 1/1;
}

@mixin tag {
    @include f16;
    background-color: $secundaire;
    padding: 5px 15px;
    border-radius: 50px;
    color: $white;
}

@mixin arrowBtn {
    @include f18;
    position: relative;
    display: block;
    width: calc(123px + 40px);
    padding: 10px 20px;
    background-color: $primaire;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 16px 8px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    border-radius: 50px;
    font-weight: bold;
    color: $white;
    text-decoration: none;

    &:before {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 48px;
        aspect-ratio: 1/1;
        background-color: $yellow;
        border-radius: 50px;
        border: $border-basic;
        transition: $trans-basic;
    }

    &:after {
        @include arrow;
        transition: $trans-basic;
    }
}

/***************************** Component mixins *****************************/

// Font
@mixin xiaoBA {
    &:before {
        content: "{ ";
    }

    &:after {
        content: " }";
    }
}

// Flex
@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

@mixin maxWidthBasic {
    margin: auto;
    max-width: 1300px;
}

@mixin marginSwiperAlign {
    @media (min-width: 1300px) {
        margin-left: 100px !important;
    }

    @media (min-width: 1500px) {
        margin-left: 200px !important;
    }

    @media (min-width: 1900px) {
        margin-left: 300px !important;
    }
}

// Tab users
@mixin focus {
    &:focus {
        outline: 2px solid $black;
        outline-offset: 5px;
        border-radius: 10px;
    }
}

/***************************** Forms *****************************/

@mixin hideInput {
    position: absolute;
    opacity: 0;
    pointer-events: all;
}