@use "../../../../styles/variables" as *;

.section {
    position: relative;
    grid-row: 1/5;
    grid-column: 2/3;
    
    .heroImg {
        height: 450px;
        width: 100%;
        border-radius: 20px;
        cursor: pointer;
    }

    img {
        border: $border-basic;
    }

    .sticky {
        position: sticky;
        top: calc(52px + 60px);
        right: 0;
            @include flex(column, 10px);
    }
}

.form {
    @include grid-col(1fr 1fr 1fr 1fr, 10px);

    img {
        width: 100%;
        height: 85px;
        border-radius: 20px;
    }

    label {
        cursor: pointer
    }

    input {
        @include hideInput;
    }
}

@media (max-width: 768px) {
    .section {
        display: none;
    }
}