@use "../../../../styles/variables" as *;

.section {
    @include flex(column, 10px);
    
    .heroImg {
        height: 350px;
        width: 100%;
        border-radius: 20px;
    }
}

.form {
    @include grid-col(1fr 1fr 1fr 1fr, 10px);

    img {
        width: 100%;
        height: 85px;
        border-radius: 20px;
    }

    input {
        @include hideInput;
    }
}

@media (max-width: 768px) {
    .section {
        display: none;
    }
}