@use "../../../../styles/variables" as *;

.main a {
    height: 416px;

    div {
        margin-top: auto;
    }
}

// Chat gpt
.loader {
  height: 300px;
  display: grid;
  place-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba($secundaire, .5);
  border-top-color: $secundaire;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
    .main {
        display: none;
    }
}

