@use "../../../styles/variables" as *;

.socialMeidaBtn {
    @include f18;
    display: block;
    position: relative;
    padding: 10px 20px;
    padding-left: calc(50px + 10px);
    width: fit-content;
    height: 50px;
    background-color: $primaire;
    border-radius: 50px;
    color: $white;
    font-weight: bold;
}

.socialIcon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    aspect-ratio: 1/1;
    background-color: $pink;
    border-radius: 50px;
    border: $border-basic;

    img {
        @include centerTransform;
        position: relative;
        object-fit: contain;
    }
}