$font-stack: 'Ubuntu', sans-serif;

/***************************** Colors *****************************/

$primaire: #724D90;
$secundaire: #1DA0F2;

$pink: #E54E6D;
$pink-10: #FBE4E9;

$yellow: #F8C631;

$black: #22162A;
$white: #fff;