

/***************************** Colors *****************************/

$primaire: #724D90;
$secundaire: #1DA0F2;

$pink: #E54E6D;
$pink-10: #FBE4E9;

$yellow: #F8C631;

$black: #22162A;
$white: #fff;

/***************************** Font *****************************/

$font-stack: 'Ubuntu', sans-serif;

@mixin f18 {
    font-size: 1.125rem;
    line-height: 1.875rem;
}

@mixin f34 {
    font-size: 2.125rem;
    line-height: 2.313rem;
}