@use "../../../styles/variables" as *;

.section {
    @include flex(column, 30px);
    margin-top: 50px;
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) {
    .section {
        margin-top: calc(50px - 20px);
        gap: 0px;
    }
}