@use "../../../styles/variables" as *;

.section {
    @include flex(column, 30px);
    margin-top: 50px;
}

.form {
    @include flex(row, 10px);
    @include marginSwiperAlign;
    padding: 10px;
    width: fit-content;
    background-color: $white;
    border: $border-basic;
    border-radius: 50px;

    label {
        @include tag;
        background-color: $pink;
        cursor: pointer;
        transition: $trans-basic;

        &:has(input:checked) {
            background-color: $primaire;
        }

        &:hover {
            background-color: $secundaire;
        }
    }

    input {
        @include hideInput;
    }
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) {
    .section {
        margin-top: calc(50px - 20px);
        gap: 0px;
    }

    .form {
        margin-left: 20px;
    }
}