@use "../../../styles/variables" as *;

.nav {
    ul {
        @include flex(row, 50px);
        align-items: center;


        li {

            a {
                @include f18;
                @include focus;
                display: block;
                font-weight: bold;
                color: $black;
            }

            .active {
                background-color: $primaire;
                color: $white;
                padding: 5px 15px;
                border-radius: 50px;
            }
        }
    }
}

@media (max-width: 768px) { 
    .nav {
        ul {
            flex-direction: column;
            margin-top: calc(52px + 30px + 100px); // Height header + padding body + 100px

            li {
                a {
                    @include f34;
                }

                .active {
                    padding: 15px 30px;
                }
            }
        }
    }
}