@use "../../styles/variables" as *;

.footer {
    @include flex(column, 40px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    ul {
        @include flex(row, 20px);
        justify-content: center;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: $black;
    }

    .copyright {
        @include f18;
        text-align: center;

        span {
            @include xiaoBA;
        }
    }
}