@use "../../styles/variables/variables" as *;

.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    ul {
        display: flex;
        gap: 20px;
        justify-content: center;

        li {
            list-style: none;
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: $black;
    }

    .copyright {
        @include f18;
        text-align: center;

        span {
            @include xiaoBA;
        }
    }
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) { 
    .footer {
        display: none;
    }
}