@use "../variables/variables" as *;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} 

body {
	font-family: $font-stack;
	background-color: $pink-10;
	padding: 30px 20px;
	color: $black;

	&:has(.hamburger input:checked) {
		.mobile-menu {
			display: block;

			@media (min-width: 768px) {
				display: none;
			}
		}
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.swiper-slide {
	max-width: 360px;
}



@media (min-width: 768px) {
    body {
		padding: 0px;
	}

	.swiper {
		padding-right: 50px !important;
	}
}
