@use "../../../styles/variables" as *;

.hero {
    @include flex(column, 20px);
    @include marginSwiperAlign;
    margin-top: calc(52px + 50px);

    h1 {
        @include f50;
        text-transform: uppercase;
    }

    p {
        @include f16;
        max-width: 500px;
    }
}

/***************************** Breakpoints *****************************/

@media (min-width: 768px) {
    .hero {
		padding: 20px;
	}
}
