@use "../../../styles/variables/variables" as *;

.main {
    margin-bottom: 50px;
    
    > ul {
        @include flex(column, 30px);

        li {
            list-style: none;
            // Bron: https://codepen.io/xiao-nan-pols/pen/RwObwMX?editors=1100
            animation: scale linear both;
            animation-timeline: view(y);
        }
    }
}


@keyframes scale {
    0%{
        scale: .8;
        opacity: 0;
    }
    
    25%{
        scale: 1;
        opacity: 1;
    }
}


@media (min-width: 768px) {
    .main {
        display: none;
    }
}