@use "../../../styles/variables" as *;

.article a {
    @include flex(column, 30px);
    @include focus;
    position: relative;
    padding: 20px;
    background-color: $white;
    border: $border-basic;
    border-radius: $boder-radius-basic;
    color: $black;

    &:hover img {
        scale: 1.1;
    }

    &:hover .moreInfo::before {
        background-color: $pink;
    }

    &:hover .moreInfo::after {
        filter: invert(1) brightness(3);
    }

    h2 {
        @include f26;
    }

    p {
        @include f14;
        margin-top: -30px
    }

    .moreInfo {
       @include arrowBtn;
       position: absolute;
       right: 30px;
       bottom: 20px;
       z-index: 1;
    }

    div {
        overflow: hidden;
        position: relative;
        margin: 0px -20px -20px -20px;
        height: 160px;
        width: calc(100% + 40px);
        border-radius: 0px 0px 0px 20px;
        border-top: $border-basic;

        // &::before {
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     content: "";
        //     background-color: rgba($black, .5);
        //     overflow: hidden;
        // }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 0px 20px;
        transition: $trans-basic;
    }
}

.tags {
    @include flex(row, 5px);
    flex-wrap: wrap;
    order: -1;

    li {
        @include tag;
        @include f14;
        padding: 3px 15px;
    }
}