@use "../../../styles/variables" as *;

.article a {
    @include flex(column, 30px);
    @include focus;
    position: relative;
    padding: 20px;
    background-color: $white;
    border: $border-basic;
    border-radius: 0px 20px 0px 20px;
    color: $black;
    text-decoration: none;

    h2 {
        @include f26;
    }

    p {
        @include f14;
        margin-top: -30px
    }

    .moreInfo {
       @include arrowBtn;
       position: absolute;
       right: 30px;
       bottom: 20px;
    }

    img {
        width: calc(100% + 40px);
        height: 160px;
        margin: 0px -20px -20px -20px;
        object-fit: cover;
        border-radius: 0px 0px 0px 20px;
        border: $border-basic;
    }
}

.tags {
    @include flex(row, 5px);
    order: -1;

    li {
        @include tag;
        @include f14;
        padding: 3px 15px;
        list-style: none;
    }
}